@font-face {
    font-family: "Perfect DOS VGA 437";
    src: url("./assets/Perfect_DOS_VGA_437.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --retro-font: 'Perfect DOS VGA 437', 'monospace';
    --retro-bg-color: #c0c0c0;
    --retro-border-light: #fff;
    --retro-border-dark: #808080;
    --retro-text-color: #000;
    --retro-title-bar-bg: #ffffff;
    --retro-title-bar-text: #000000;
    --retro-button-bg: #ffffff;
    --retro-button-bg-disabled: #848484;
    --retro-button-text: #000000;
    --retro-window-bg: rgb(111, 108, 108);
    --retro-app-bg: #00008f;
    --retro-app-text: white;
    --retro-box-border: #000;
    --retro-box-border-inset: #fff;
    --retro-input-bg: #fff;
    --retro-input-text: #000;
    --retro-input-text-disabled: #595959;
    --retro-input-select: #000;
    --retro-checkbox-back: #fff;
    --retro-checkbox-hover: #ccc;
    --retro-checkbox-checked: #000;
}

.app {
    position: relative;
    font-family: var(--retro-font);
    font-size: normal;
    height: 100%;
    width: 100%;
    color: white;
    background-color: var(--retro-app-bg);
    overflow: hidden;
}

/** Window **/

.window {
    position: absolute;
    border: outset 1px var(--retro-border-light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--retro-bg-color);
    width: 400px;
    z-index: 1000;
    box-shadow: 15px 15px 0px #000000b8;
}

.window .titleBar {
    user-select: none;
    background-color: var(--retro-title-bar-bg);
    color: var(--retro-title-bar-text);
    padding: 3px;
    padding-left: 5px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window .titleBar span {
    font-weight: bold;
}

.window .titleBar button {
    user-select: none;
    background: #c0c0c000;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 2px 6px;
}

.window .titleBar button:active {
    transform: translate(3px, 3px);
}

.window .titleBar button:focus {
    font-weight: bold;
    border: none;
    outline: none;
    text-decoration: underline;
}

.window .windowContent {
    padding: 10px;
}

/* Button */

.button {
    user-select: none;
    background: var(--retro-button-bg);
    color: var(--retro-button-text);
    border: none;
    box-shadow: 8px 8px 0px #000;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    outline: none;
    text-transform: lowercase;
}

.button::first-letter {
    text-transform: uppercase;
    font-weight: bold;
}

.button:active {
    box-shadow: 5px 5px 0px #000;
    transform: translate(3px, 3px);
}

.button:disabled {
    background: var(--retro-button-bg-disabled);
    cursor: not-allowed;
    pointer-events: none;
}

.button:focus {
    outline: none;
    position: relative;
}

.button:focus::before,
.button:focus::after {
    content: '◀';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
}

.button:focus::before {
    left: 1px;
    content: '▶';
}

.button:focus::after {
    right: 1px;
}

/* Button group */
.buttonGroup {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}

/* Text */
.text {
    padding: 3px;
    user-select: none;
    color: var(--retro-text-color);
}

.text p {
    padding: 0;
    margin: 0;
}

.textBold {
    font-weight: bold;
}

.textBlink {
    animation: blink 1s step-start infinite;
}

/* Big text */
.bigText {
    user-select: none;
    font-family: monospace;
    line-height: 1.3;
    letter-spacing: 0;
    white-space: pre;
    display: block;

    color: var(--retro-text-color);
}

.bigText>div {
    white-space: pre;
    height: 1.2em;
    min-width: min-content;
    min-height: min-content;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Box */

.box {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    word-break: break-all;
}

.boxBorder {
    border: 1px solid var(--retro-box-border);
    border-right: 3px solid var(--retro-box-border);
    border-bottom: 3px solid var(--retro-box-border);
}

.boxInset {
    border: 1px solid var(--retro-box-border);
    border-right: 2px solid var(--retro-box-border-inset);
    border-bottom: 2px solid var(--retro-box-border-inset);
}

/* Scroll bars */

.wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 30px;
    min-width: 30px;
    box-sizing: border-box;
}

.wrapperBorder {
    border: 2px solid #000;
}

.viewport {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 15px;
    /* Space for vertical scrollbar */
    bottom: 15px;
    /* Space for horizontal scrollbar */
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.viewport::-webkit-scrollbar {
    display: none;
}

.content {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.scrollTrackVertical {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
}

.scrollTrackHorizontal {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: calc(100% - 15px);
}

.scrollPattern {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    background-image: radial-gradient(#fff 1px, #000 1px);
    background-size: 4px 4px;
    background-position: 0 0;
}

.scrollPatternHorizontal {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    background-image: radial-gradient(#fff 1px, #000 1px),
        radial-gradient(#000 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 5px 5px;
}

.scrollButton {
    outline: none;
    user-select: none;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    padding: 0;
    z-index: 2;
}

.buttonUp {
    top: 0;
}

.buttonDown {
    bottom: 0;
}

.buttonLeft {
    left: 0;
}

.buttonRight {
    right: 0;
}

.scrollThumbVertical {
    position: absolute;
    width: 15px;
    background-color: #fff;
    right: 0;
    cursor: pointer;
    z-index: 1;
    min-height: 10px;
}

.scrollThumbHorizontal {
    position: absolute;
    height: 15px;
    background-color: #fff;
    bottom: 0px;
    cursor: pointer;
    z-index: 1;
    min-width: 10px;
}

/* Progress bar */

.progressRoot {
    position: relative;
    width: 100%;
    height: 25px;
    display: block;
    position: relative;
}

.progress {
    border: 1px solid black;
    color: white;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#fff 1px, #000 1px),
        radial-gradient(#000 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 5px 5px;
}

.progressLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1px 3px 1px 3px;
    transform: translate(-50%, calc(-50% - 2px));
    font-size: 0.8em;
    text-align: center;
    color: black;
    background-color: white;
    line-height: 1;
}

.progress::-webkit-progress-bar {
    background-image: radial-gradient(#fff 1px, #000 1px),
        radial-gradient(#000 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 5px 5px;
}

.progress::-webkit-progress-value {
    background-color: black;
}

.progress::-moz-progress-bar {
    background-color: black;
}

.progress::-ms-fill {
    background-color: black;
}

/* Input */
.input {
    border: none;
    outline: none;
    background-color: var(--retro-input-bg);
    color: var(--retro-input-text);
    font-family: var(--retro-font);
    font-size: 1em;
    box-sizing: border-box;
}

.input:read-only {
    color: var(--retro-input-text-disabled);
}

.inputBorder {
    border: 1px solid var(--retro-box-border);
}

.input::selection {
    background-color: var(--retro-input-select);
    color: var(--retro-input-bg);
}

.inputBoxWrapper {
    background-color: var(--retro-input-bg);
}

.inputBox {
    border: none;
    outline: none;
    background-color: var(--retro-input-bg);
    color: var(--retro-input-text);
    font-family: var(--retro-font);
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
    resize: none;
}

.inputBox::selection {
    background-color: var(--retro-input-select);
    color: var(--retro-input-bg);
}

.inputBox:read-only {
    color: var(--retro-input-text-disabled);
}

/* Checkbox */

.checkboxLabel {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--retro-text-color);
    font-family: var(--retro-font);
}

.checkbox {
    position: relative;
    width: 14px;
    height: 14px;
    color: var(--retro-checkbox-checked);
    background-color: var(--retro-checkbox-back);
    border:none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    cursor: pointer;
}

.checkbox:hover {
    background-color: var(--retro-checkbox-hover);
}

.checkbox:checked::after {
    font-family: var(--retro-font);
    content: 'x';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--retro-checkbox-checked);
    font-size: 23px;
    font-weight: bold;
    line-height: 1;
}

.checkboxGroup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}